.body {
    background-color: rgb(233, 233, 233);
    padding: 20px 0;
    height: auto;
    min-height: 82vh;
    padding-bottom: 40px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 964px;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}